body {
    background-color: beige;
}

a {
    text-decoration: none;
    color:#000;
}

.note_index {
    border-collapse: collapse; 
    width:80%;
    margin:0 auto;
    th {
        background-color: black;
        color: white;
    }
    td, th {
        border: 1px solid black;
        padding: 5px;
    }
    td:nth-child(1) {
        padding-left: 10px;
      }
    td:nth-child(2) {
        text-align: center;
    }
}  

 .update {
    width:80%;
    padding:10px;
    margin:30px auto 0;
    border:1px solid #000;
    box-sizing: border-box;
 } 
 
 .hello {
    text-align: center;  
 }


 @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
  
  .button {
    @include border-radius(4px);
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin:30px auto 0;
  }